{% extends "layout.html" %}
{% block main %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../static/resources/1.JPG" class="card-img-top" width="15" height="350">
        <div class="card-body">
          <h5 class="card-title">CASACA HOMBRE </h5>
          <p class="card-text">Casaca Hombre Mary Core Azul Atlantico</p>
          <p class="card-text1">Talla: </p>
          <p class="card-text3">Distrito:    </p> 
          <p class="card-text4"> Precio:  S./</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/resources/2.JPG" class="card-img-top" width="15" height="350">
        <div class="card-body">
            <h5 class="card-title">CASACA HOMBRE </h5>
            <p class="card-text">Casaca Hombre Mary Core Azul Atlantico</p>
            <p class="card-text1">Talla: </p>
            <p class="card-text3">Distrito:    </p> 
            <p class="card-text4"> Precio:  S./</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/resources/3.JPG" class="card-img-top" width="15" height="350">
        <div class="card-body">
            <h5 class="card-title">CASACA HOMBRE </h5>
            <p class="card-text">Casaca Hombre Mary Core Azul Atlantico</p>
            <p class="card-text1">Talla: </p>
            <p class="card-text3">Distrito:    </p> 
            <p class="card-text4"> Precio:  S./ </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/resources/4.JPG" class="card-img-top" width="15" height="350">
        <div class="card-body">
            <h5 class="card-title">CASACA HOMBRE </h5>
            <p class="card-text">Casaca Hombre Mary Core Azul Atlantico</p>
            <p class="card-text1">Talla: </p>
            <p class="card-text3">Distrito:    </p> 
            <p class="card-text4"> Precio:  S./</p>
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

{% endblock %}

