{% extends "layout.html" %}
{% block main %}

<div class="row w-100">

</div>
<div src={{url_for('static_resources', img_id='banner.JPG' )}} id="main-banner"
  class="d-flex flex-column align-items-center justify-content-center">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <p id="search-description">Encuentra una prenda a tu medida</p>
    <form class="d-flex m-2" role="search" action="/producto/buscar" , method="GET">
      <div class="input-group">
        <input class="form-control me-2" type="search" placeholder="Zapatos Adidas" aria-label="Search" name="buscar">
        <input class="btn btn-outline-danger" type="submit" value="Buscar">
      </div>
    </form>
    <div class="d-flex flex-row justify-content-center">
      <div class="dropdown-center m-4">
        <button class="btn btn-danger dropdown-toggle" type="button" id="menu-categoria" data-bs-toggle="dropdown" aria-expanded="false">
          &nbsp &nbsp &nbsp &nbsp Categorias &nbsp &nbsp &nbsp &nbsp
        </button>
        <ul class="dropdown-menu",aria-labelledby="menu-categoria">
            <li><h6 class="dropdown-header">Categoria de la prenda</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={{url_for('producto_categoria', nombre_categoria='Abrigos' )}}>Abrigos</a>
            </li>
            <li><a class="dropdown-item" href={{url_for('producto_categoria', nombre_categoria='Polos' )}}>Polos</a>
            </li>
            <li><a class="dropdown-item" href={{url_for('producto_categoria', nombre_categoria='Pantalones'
                )}}>Pantalones</a></li>
            <li><a class="dropdown-item" href={{url_for('producto_categoria', nombre_categoria='Zapatos' )}}>Zapatos</a>
            </li>
            <li><a class="dropdown-item" href={{url_for('producto_categoria', nombre_categoria='Accesorios'
                )}}>Accesorios</a></li>
            <li><a class="dropdown-item" href={{url_for('producto_categoria', nombre_categoria='Vestidos' )}}>Vestidos</a>
            </li>
            <li><a class="dropdown-item" href={{url_for('producto_categoria', nombre_categoria='Blusas' )}}>Blusas</a>
            </li>
            <li><a class="dropdown-item" href={{url_for('producto_categoria', nombre_categoria='Invierno' )}}>Ropa de
                invierno</a></li>
        </ul>
      </div>

      <div class="dropdown-center m-4">
        <button class="btn btn-danger dropdown-toggle" type="button" id="menu-talla" data-bs-toggle="dropdown" aria-expanded="false">
          &nbsp &nbsp &nbsp &nbsp &nbsp Tipo &nbsp &nbsp &nbsp &nbsp &nbsp
        </button>
        <ul class="dropdown-menu dropdown-menu-start",aria-labelledby="menu-talla">
            <li><h6 class="dropdown-header">Seleccione la talla</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_talla', nombre_talla="XXS")}}>XXS</a></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_talla', nombre_talla="XS")}}>XS</a></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_talla', nombre_talla="S")}}>S</a></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_talla', nombre_talla="M")}}>M</a></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_talla', nombre_talla="L")}}>L</a></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_talla', nombre_talla="XL")}}>XL</a></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_talla', nombre_talla="XXL")}}>XXL</a></li>
        </ul>
      </div>

      <div class="dropdown-center m-4">
        <button class="btn btn-danger dropdown-toggle" type="button" id="menu-genero" data-bs-toggle="dropdown" aria-expanded="false">
          &nbsp &nbsp &nbsp &nbsp Género &nbsp &nbsp &nbsp &nbsp
        </button>
        <ul class="dropdown-menu dropdown-menu-start",aria-labelledby="menu-genero">
            <li><h6 class="dropdown-header">Seleccione el género</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_genero', nombre_genero="M")}}>Hombre</a></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_genero', nombre_genero="F")}}>Mujer</a></li>
            <li><a class="dropdown-item" type="button" href={{url_for('producto_genero', nombre_genero="U")}}>Unisex</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row w-100">
  <div class="col-2">
  </div>
  <div class="col-8" ,style="background-color:#;">
    <div class="d-flex justify-content-between">
      <strong>{{productos | length}} producto(s) disponibles</strong>
      <!-- Ordenar por -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          <strong>Ordenar por</strong>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Menor Precio</a></li>
          <li><a class="dropdown-item" href="#">Mayor Precio</a></li>
          <li><a class="dropdown-item" href="#">Alfabeto (Ascendente)</a></li>
          <li><a class="dropdown-item" href="#">Alfabeto (Descendente)</a></li>
        </ul>
      </div>
    </div>
    <br>
    <!-- Productos -->
    {% if productos %}
    <div class="row row-cols-1 row-cols-md-3 g-3">
      {% for producto in productos %}
      <a href={{url_for('producto_ver', producto_id=producto.id)}}
        style="text-decoration: none; color: var(--text-color);" class="col">
        <div class="card">
          <!-- <div class="card"> -->
          <img src={{url_for('static_uploaded', img_id=producto.imagenes[0].id)}} class="card-img-top" width="15"
            height="280">
          <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <!-- <p class="card-text">{{producto.descripcion}}</p> -->
            <p class="card-text1">Talla: {{producto.talla}} <br>
              Género: {{producto.sexo}} <br>
              Distrito: {{producto.distrito}} </p>
            <p class="card-text4">Precio: S./{{producto.precio}}</p>
          </div>
          <!-- </div> -->
        </div>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <p>
      No se encontraron resultados. ¡Te animamos a vender productos de este tipo! <br> &nbsp
    </p>
    {% endif %}
  </div>
  <div class="col-2">
  </div>
  {% endblock %}

</div>