<html>
    <head>      
        <title>Moda Cheap</title>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}">
        <script src="{{url_for('static',filename='scripts/main.js')}}"></script>
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="banner">
            <div class="banner-text">
                <div class="text-wrapper">
                    <div class="banner-box b1">textExample1</div>
                    <div class="banner-box b2">textExample2</div>
                    <div class="banner-box b3">textExample3</div>
                    <div class="banner-box b4">textExample4</div>
                    <div class="banner-box b5">textExample5</div>
                </div>
            </div>
        </div>

        <div class="space"></div>

        
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" id="main-title">
                Moda Cheap
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-flex justify-content-end"  id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('producto_crear')}}">Vender</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('usuario_logout')}}">Salir</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>