{% extends "layout.html" %}


{% block main %}
<div class="container">
    <form id="login-form">
        <div class ="form-header">
            <h1>Login</h1>
        </div>

        <div class="form-field">
            <label for="correo" class="subtitle">Correo</label></br>
            <input id="correo" name="correo" type="email" required class="text-input">
        </div>
        <div class="form-field">
            <label for="clave" class="subtitle">Clave</label></br>
            <input id="clave" name="clave" type="password" required  class="text-input">
        </div>
        
        <div class="form-bottom">
            <button type="submit" class ="submit-input">Conectarse</button>
        </div>
    </form>

    </form>
    <div class="another">
        ¿No tienes una cuenta de ModaCheap? <a href="{{url_for('usuario_registrar')}}" class = "change">Regístrate</a>
    </div>
</div>
<script>
    const loginForm = document.getElementById("login-form");
    loginForm.onsubmit = usuarioLogin;
</script>
{% endblock %}