{% extends "layout.html" %}


{% block main %}
<div class="container">
    <h2>Log In</h2>
    <form id="login-form">
        <div class="form-field">
            <label for="correo">Correo</label></br>
            <input id="correo" name="correo" type="email" required class="text-input">
        </div>
        <div class="form-field">
            <label for="clave">Clave</label></br>
            <input id="clave" name="clave" type="password" required class="text-input">
        </div>
        <div class="form-field">
            <input type="submit" value="Log In" class="submit-input">
        </div>
    </form>
    <div>
        ¿No tienes una cuenta de ModaCheap? <a href="{{url_for('usuario_registrar')}}">Regístrate</a>
    </div>
</div>
<script>
    const loginForm = document.getElementById("login-form");
    loginForm.onsubmit = usuarioLogin;
</script>
{% endblock %}