{% extends "layout.html" %}


{% block main %}
<div class="container">
    <header>
        <h1>ModaCheap</h1>
    </header>
    <h2>Log In</h2>
    <form id="login-form">
        <div class="form-field">
            <!-- <label for="correo">Correo</label> -->
            <input id="correo" name="correo" type="email" required placeholder="Correo" class="text-input">
        </div>
        <div class="form-field">
            <!-- <label for="clave">Clave</label> -->
            <input id="clave" name="clave" type="password" required placeholder="Clave" class="text-input">
        </div>
        <div class="form-field">
            <input type="submit" value="Log In" class="submit-input">
        </div>
    </form>
</div>
<script>
    const loginForm = document.getElementById("login-form");
    loginForm.onsubmit = function(e) {
        e.preventDefault();
        const correo = document.getElementById("correo");
        const clave = document.getElementById("clave");
        fetch("/login", {
            method: "POST",
            body: JSON.stringify({
                correo: correo.value,
                clave: clave.value
            }),
            headers: {
                "Content-Type": "application/json"
            },
            redirect: "follow"
        }).then(function(res) {
            
        });
    }
</script>
{% endblock %}