{% extends "layout.html" %}


{% block main %}
<!-- <div class="slider mid">
    <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2" checked>
        <input type="radio" name="r" id="r3" checked>
        
        <div class="slide s1">
            <img src={{url_for('static_uploaded', img_id=producto.imagenes[0].id)}} alt="chaqueta"/>
        </div>

        <div class="slide">
            <img src={{url_for('static_uploaded', img_id=producto.imagenes[1].id)}} alt="chaqueta"/>
        </div>

        <div class="slide">
            <img src={{url_for('static_uploaded', img_id=producto.imagenes[2].id)}} alt="chaqueta"/>
        </div>


        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
        </div>
    </div>

</div> -->
<div class="d-flex flex-row">
    <!-- <div class="test-div"></div> -->
    <div class="m-3 d-flex flex-column">
        <div class="slider">
          <div class="slides">
              <input type="radio" name="r" id="r3" checked>
              <input type="radio" name="r" id="r2" checked>
              <input type="radio" name="r" id="r1" checked>
              
              <div class="slide s1">
                  <img src={{url_for('static_uploaded', img_id=producto.imagenes[0].id)}}>
                  <div class="navigation">
                      <label for="r1" class="bar"></label>
                      <label for="r2" class="bar"></label>
                      <label for="r3" class="bar"></label>
                  </div>
              </div>
      
              <div class="slide">
                  <img src={{url_for('static_uploaded', img_id=producto.imagenes[1].id)}}>
                  <div class="navigation">
                      <label for="r1" class="bar"></label>
                      <label for="r2" class="bar"></label>
                      <label for="r3" class="bar"></label>
                  </div>
              </div>
      
              <div class="slide">
                  <img src={{url_for('static_uploaded', img_id=producto.imagenes[2].id)}}>
                  <div class="navigation">
                      <label for="r1" class="bar"></label>
                      <label for="r2" class="bar"></label>
                      <label for="r3" class="bar"></label>
                  </div>
              </div>
          </div>
    </div>
    <div class="producto-campo">
            <h3>Descripcion</h3>
            <p>{{producto.descripcion}}</p>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="producto-campo">
            <h2>{{producto.nombre}}</h2>
            <h3>S/.{{producto.precio}}</h3>
            <p>{{producto.distrito}}</p>
            <a href="https://api.whatsapp.com/send?phone=51{{producto.usuario.celular}}">
            <div class="whatsapp-logo">
                <img src={{url_for('static_resources', img_id='whatsapp_logo.png')}}>Contactar con el vendedor
            </div>
            </a>
        </div>
        
        <div class="producto-campo">
            <h3></h3>
        </div>
        
    </div> 
</div>

<script>

</script>
























{% endblock %}