{% extends "layout.html" %}


{% block main %}
<div class="container">
    <header>
        <div class = "top">
            <h1>ModaCheap</h1>
        </div>

    </header>
    

    <form id="login-form">
        
        <div class="form-header">
            <h1>Create Account</h1>
        </div>

        <div class="box">
        
        <div class="form-field">
            <label for="correo" class="subtitle">Correo</label></br>
            <input id="correo" name="correo" type="email" required class="text-input">
        </div>
        <div class="form-field">
            <label for="clave" class="subtitle">Clave</label></br>
            <input id="clave" name="clave" type="password" required  class="text-input">
        </div>
        <div class="form-field">
            <label for="nombre" class="subtitle">Nombre</label></br>
            <input id="nombre" name="nombre" type="text" required class="text-input">
        </div>
        <div class="form-field">
            <label for="celular" class="subtitle">Celular</label></br>
            <input id="celular" name="celular" type="text" required class="text-input">
        </div>
        <div class="form-field">
            <input type="submit" value="Registrarse" class="submit-input">
        </div>
    </div>
    </form>
    <div class="another">
        ¿Ya tienes una cuenta de ModeCheap? <a href="{{url_for('usuario_login')}}" class = "change">Ingresa</a>
 
</div>
</div>

<script>
    const registerForm = document.getElementById("register-form");
    registerForm.onsubmit = usuarioRegistrar;
</script>
{% endblock %}