{% extends "layout.html" %}


{% block main %}
<div class="container">
    <header>
        <h1>ModaCheap</h1>
    </header>
    <h2>Registrarse</h2>
    <form id="register-form">
        <div class="form-field">
            <!-- <label for="correo">Correo</label> -->
            <input id="correo" name="correo" type="email" required placeholder="Correo" class="text-input">
        </div>
        <div class="form-field">
            <!-- <label for="clave">Clave</label> -->
            <input id="clave" name="clave" type="password" required placeholder="Clave" class="text-input">
        </div>
        <div class="form-field">
            <!-- <label for="nombre">Nombre</label> -->
            <input id="nombre" name="nombre" type="text" required placeholder="Nombre" class="text-input">
        </div>
        <div class="form-field">
            <label for="celular">Celular</label>
            <input id="celular" name="celular" type="text" required placeholder="Celular" class="text-input">
        </div>
        <div class="form-field">
            <input type="submit" value="Registrarse" class="submit-input">
        </div>
    </form>
    <div>
        ¿Ya tienes una cuenta de ModeCheap? <a href="{{url_for('usuario_login')}}">Ingresa</a>
    </div>
</div>
<script>
    const registerForm = document.getElementById("register-form");
    registerForm.onsubmit = usuarioRegistrar;
</script>
{% endblock %}