{% extends "layout.html" %}


{% block main %}
<form id="vender-form">
    <input type="file" id="imagenes" name="imagenes" accept="image/png, image/jpeg, image/jpg" required multiple>
    <input type="hidden" id="usuario_correo" name="usuario_correo" value="{{usuario.correo}}">
    <input type="number" min="0" max="99999" id="precio" name="precio" step="any" required>
    <input type="text" id="nombre" name="nombre" required>
    <input type="text" id="descripcion" name="descripcion" required>
    <select name="sexo" id="sexo">

    </select>
</form>

<script>
    const venderForm = document.getElementById("vender-form");

</script>
{% endblock %}