{% extends "layout.html" %}


{% block main %}
<div class="d-flex flex-column align-items-center">
<h1>Vende un producto</h1>
<form id="vender-form" class="flex-wrap">
    <div class="m-3 d-flex flex-column align-items-center">
          <div class="slider">
            <div class="slides">
                <input type="radio" name="r" id="r3" checked>
                <input type="radio" name="r" id="r2" checked>
                <input type="radio" name="r" id="r1" checked>
                
                <div class="slide s1">
                    <button class="imagen_add" type="button">
                        <img src={{url_for('static_resources', img_id='imagen_add.png')}}  id="imagen_1">
                    </button>
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                    </div>
                </div>
        
                <div class="slide">
                    <button class="imagen_add" type="button">
                        <img src={{url_for('static_resources', img_id='imagen_add.png')}}  id="imagen_2">
                    </button>
                    
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                    </div>
                </div>
        
                <div class="slide">
                    <button class="imagen_add" type="button">
                        <img src={{url_for('static_resources', img_id='imagen_add.png')}}  id="imagen_3">
                    </button>
                    <div class="navigation">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                    </div>
                </div>
            </div>
            
        </div>
        <input type="file" id="file1" name="file1" accept="image/*" required style="display: none;">
        <input type="file" id="file2" name="file2" accept="image/*" required style="display: none;">
        <input type="file" id="file3" name="file3" accept="image/*" required style="display: none;">
        <p>Incluye 3 imagenes como minimo</p>
    </div>
    <div class="d-flex flex-column">
    <div class="d-flex flex-row">
    <div class="flex m-3">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del producto:</label>
            <input type="text" id="nombre" name="nombre" required class="form-control" minlength="5" maxlength="80">
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Precio:</label>
            <input type="number" min="0" max="99999" id="precio" name="precio" step="any" required class="form-control">
        </div>

        <input type="hidden" id="usuario_correo" name="usuario_correo" value="{{usuario.correo}}">

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion breve:</label>
            <textarea id="descripcion" name="descripcion" required class="form-control"></textarea>
        </div>
    </div>  

    <div class="flex m-3">
        <div class="mb-3">
            <label for="sexo">Genero de la prenda:</label>
            <select name="sexo" id="sexo" required class="form-select">
                <option value="M">Hombre</option>
                <option value="F">Mujer</option>
                <option value="U">Unisex</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="talla">Talla de la prenda:</label>
            <select name="talla" id="talla" required class="form-select">
                <option value="XXS">XXS</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="categoria">Categoria de la prenda:</label>
            <select name="categoria" id="categoria" required class="form-select">
                <option value="Abrigos">Abrigos</option>
                <option value="Polos">Polos</option>
                <option value="Pantalones">Pantalones</option>
                <option value="Zapatos">Zapatos</option>
                <option value="Accesorios">Accesorios</option>
                <option value="Vestidos">Vestidos</option>
                <option value="Blusas">Blusas</option>
                <option value="Invierno">Ropa de invierno</option>
            </select>
        </div>
    
        <div class="mb-3">
            <label for="distrito">Distrito en el que se encuentra:</label>
            <select name="distrito" id="distrito" required class="form-select">
                <option value="ANCON">ANCON</option>
                <option value="ATE">ATE</option>
                <option value="BARRANCO">BARRANCO</option>
                <option value="BREÑA">BREÑA</option>
                <option value="CARABAYLLO">CARABAYLLO</option>
                <option value="CHACLACAYO">CHACLACAYO</option>
                <option value="CHORRILLOS">CHORRILLOS</option>
                <option value="CIENEGUILLA">CIENEGUILLA</option>
                <option value="COMAS">COMAS</option>
                <option value="EL AGUSTINO">EL AGUSTINO</option>
                <option value="INDEPENDENCIA">INDEPENDENCIA</option>
                <option value="JESUS MARIA">JESUS MARIA</option>
                <option value="LA MOLINA">LA MOLINA</option>
                <option value="LA VICTORIA">LA VICTORIA</option>
                <option value="LIMA">LIMA</option>
                <option value="LINCE">LINCE</option>
                <option value="LOS OLIVOS">LOS OLIVOS</option>
                <option value="LURIGANCHO">LURIGANCHO</option>
                <option value="LURIN">LURIN</option>
                <option value="MAGDALENA DEL MAR">MAGDALENA DEL MAR</option>
                <option value="MIRAFLORES">MIRAFLORES</option>
                <option value="PACHACAMAC">PACHACAMAC</option>
                <option value="PUCUSANA">PUCUSANA</option>
                <option value="PUEBLO LIBRE">PUEBLO LIBRE</option>
                <option value="PUENTE PIEDRA">PUENTE PIEDRA</option>
                <option value="PUNTA HERMOSA">PUNTA HERMOSA</option>
                <option value="PUNTA NEGRA">PUNTA NEGRA</option>
                <option value="RIMAC">RIMAC</option>
                <option value="SAN BARTOLO">SAN BARTOLO</option>
                <option value="SAN BORJA">SAN BORJA</option>
                <option value="SAN ISIDRO">SAN ISIDRO</option>
                <option value="SAN JUAN DE LURIGANCHO">SAN JUAN DE LURIGANCHO</option>
                <option value="SAN JUAN DE MIRAFLORES">SAN JUAN DE MIRAFLORES</option>
                <option value="SAN LUIS">SAN LUIS</option>
                <option value="SAN MARTIN DE PORRES">SAN MARTIN DE PORRES</option>
                <option value="SAN MIGUEL">SAN MIGUEL</option>
                <option value="SANTA ANITA">SANTA ANITA</option>
                <option value="SANTA MARIA DEL MAR">SANTA MARIA DEL MAR</option>
                <option value="SANTA ROSA">SANTA ROSA</option>
                <option value="SANTIAGO DE SURCO">SANTIAGO DE SURCO</option>
                <option value="SURQUILLO">SURQUILLO</option>
                <option value="VILLA EL SALVADOR">VILLA EL SALVADOR</option>
                <option value="VILLA MARIA DEL TRIUNFO">VILLA MARIA DEL TRIUNFO</option>
            </select>
        </div>
        
    </div>
    </div>
    <input type="submit" value="Crear" class="btn btn-primary btn-block">
    </div>
</form>
</div>
<script>
    const imagen1 = document.getElementById("imagen_1");
    const imagen2 = document.getElementById("imagen_2");
    const imagen3 = document.getElementById("imagen_3");
    imagen1.onclick = function(e) {
        e.preventDefault();
        const fileInput = document.getElementById("file1");
        fileInput.click();
    }
    imagen2.onclick = function(e) {
        e.preventDefault();
        const fileInput = document.getElementById("file2");
        fileInput.click();
    }
    imagen3.onclick = function(e) {
        e.preventDefault();
        const fileInput = document.getElementById("file3");
        fileInput.click();
    }
    const file1 = document.getElementById("file1");
    const file2 = document.getElementById("file2");
    const file3 = document.getElementById("file3");
    file1.onchange = function(e) {
        imagen1.src = URL.createObjectURL(e.target.files[0]);
    }
    file2.onchange = function(e) {
        imagen2.src = URL.createObjectURL(e.target.files[0]);
    }
    file3.onchange = function(e) {
        imagen3.src = URL.createObjectURL(e.target.files[0]);
    }
    const venderForm = document.getElementById("vender-form");
    venderForm.onsubmit = productoCrear;
</script>
{% endblock %}